@page
@model SESEWebsite.Pages.Shared.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

    <div class="text-center">
    <h1 class="im", im"><img src=/css/IMG-20220325-WA0016.jpg height= "150" class="im"  /></h1>
    <p></p>
</div>
    <div class="row">
    <div class="continer, align-content-center">
    If you’re here, it’s because you want to learn English. Welcome! You’ve come to the best place for it. Here at Sambauna English, the online English academy, you’ll find a method that’s been created so that learning will feel like an exciting adventure and one where you set the pace. You can decide when and where you want to learn as well as the device you want to use.

We’ll give you all the tools you need for theory and practice exercises so that you can achieve your goal. What’s more, you’ll enjoy academic guidance from our team of teachers right from day one.

By basing our course on the natural method, which consists of learning via complete immersion in a language, we’ve designed a unique online experience that simulates the learning process that you experience when you travel abroad.

Our course structure makes assimilating the language easy because you will learn in a practical manner and through imitation. You’ll soon see how motivating this process is as you’ll see results right from the get-go
 </div>
 <div class="align-content-center">
     <h1>Meet Our Teachers</h1>

 </div>
 <div class="container" >
     <div class="col">
     
 <div class="col">
    <img src="/Images/IMG-20220309-WA0002.jpg" height = "314" width="286" />
      <h4>Shazali Kamilu Sambauna</h4>
      <div>
          <p>
         Holds B.A(ED) English and graduated with (Upper-Second Class Honours) from a very prominant University, BUK,Kano. 
         He is also a holder of National Certificate in Education From Saadatu Rimi College of Education, Kano
     </p>
           <p>
         In teaching Experiences, Shazali worked with different Schools and colleges before esterblishing his own School. Some of schools He worked with are:
         <ul>
             <li>Nigerian Tulip International Colleges</li>
             <li>Skynet Institution, Affiliated to College of Education Kura</li>
             <li>Npower FG</li>
             <li>Abu Hanifa College, Sani Mainage, Kano</li>
             <li>Kano State Mass Litracy Campaign</li>
         </ul>
     </p>
     
     </div>
     
     </div>
     <div>
 </div>
 <div class="col">
          <img src="/Images/HUBUK IMG.jpg" height = "314" width="286"/>
     <h4>Jamilu Habu</h4>
     <div>
          <p>
         Holds Bachelor Degree in Information Technology (IT) and graduated with (First Class Honours) From IUEA, Kampala Uganda, International Advanced Diploma in Network and Computer Security, International 
         Diploma in Information and Communication Technology From Informatics Academy, Singapour (Kano, Campus) and National Diploma in Mechanical Engineering from Kano State Polytechnics and English proficiency Certificate.
     </p>
     <p>
         A very Hardworking and Professional Software Developer, with numbers of years Expericience in the Designing, Developing, Implementing and Maintenance of Softwares.
         <p> Skilled in </p>
         <ul>
             <li>Lecturing</li>
             <li>Computer Education</li>
             <li>Programming</li>
             <li>Networking</li>
             <li>Leadership</li>
             <li> Enterprenuer</li>
             
         </ul>
               </p>
    
     </div>
 </div>
 
 <div class="col">
     <img src="/Images/Scan.jpg" height = "314" width="286"/>
     <h4>Tasiu Mika'il' </h4>
      <p>
         Holds BA(Ed) Islamic Studies, certificate in English grammar From Jammaje English Club, Kano.
         
     </p>
     <p>
         Mr Tasiu currently is working with Kano State Senior Secondary School Mangement Board.
         His passion in community development led him and participate in many voluntary service at:
         <ul>
             <li>Abdullahi bn Abbas Islamiyya</li>
             <li>Online English Classes</li>
             <li>Kunya Extra Lesson Club</li>
         </ul>
     </p>
 </div>
 <div class="col">
     <img src="Images/IMG-20220419-WA0011.jpg" height = "314" width="286" />
     <h4>Sulaiman Yusuf Usman</h4>
     <p>
         Holds National Certifacate in Education, obtained from Sa'adatu Rimi College of Education, Kano. And also He is a holder of certificate in Electronics
         from Institute for Youth Development (Sani Abacha Youth Centre) Kano.
     </p>
     <p>
         Sulaiman worked with Npower as a Classroom Teacher and also currently is working with Gamji International Academy.
         His passion in community development led him and participate in many voluntary service at:
         <ul>
             <li>GSS Sambauna</li>
             <li>GSS Tsakuwa</li>
         </ul>
     </p>
 </div>
 </div>
 </div>
 </div>