@page
@model SESEWebsite.Pages.Shared.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

    <h1>Welcome to Sambauna English Academy</h1>
    <div class="row">
    <div class="Ad">
    If you’re here, it’s because you want to learn English. Welcome! You’ve come to the best place for it. Here at Sambauna English, the online English academy, you’ll find a method that’s been created so that learning will feel like an exciting adventure and one where you set the pace. You can decide when and where you want to learn as well as the device you want to use.

We’ll give you all the tools you need for theory and practice exercises so that you can achieve your goal. What’s more, you’ll enjoy academic guidance from our team of teachers right from day one.

By basing our course on the natural method, which consists of learning via complete immersion in a language, we’ve designed a unique online experience that simulates the learning process that you experience when you travel abroad.

Our course structure makes assimilating the language easy because you will learn in a practical manner and through imitation. You’ll soon see how motivating this process is as you’ll see results right from the get-go
 </div>
 <div class="Ad">
     <h2>Meet Our Teachers</h2>
     It’s true that we are an online English academy. However, we believe that human contact is key when learning a language. At the end of the day, the final goal is communication, isn’t it?

That’s why our team of certified teachers here at SESE English are there to offer you live classes every day and to create effective and entertaining material for you. What’s more, you can always count on them to answer your questions and to give you advice on strategies to help you progress successfully.

 </div>
 </div>