@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sambauna Educational Services</h1>
    <p></p>
</div>
<div class="row, align-content-center">
     <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://media.istockphoto.com/photos/african-american-girl-raising-her-hands-while-sitting-on-her-desk-in-picture-id1323715308?b=1&k=20&m=1323715308&s=170667a&w=0&h=MeG-_I7iI4HsElwGrxCgMm7P4QkJsWGmwvcrOyYnGlc=" height="300" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Confident English Class</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://www.schudio.com/wp-content/uploads/2016/08/welcome-page-blog-header.jpg"height="300" class="d-block w-100" alt="aaaa">
      <div class="carousel-caption d-none d-md-block">
        <h5>How we teach</h5>
        <p>For great schools that face challenges of falling standard of their education or want to boost their educational standard, we are also ready to push them forward.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/vectors/welcome-back-to-school-web-banner-doodle-on-checkered-paper-vector-vector-id1206851681?k=20&m=1206851681&s=612x612&w=0&h=xhoq65K8GnhOPpK_E1V9SpOQ6qLWqKxAgMwDvSGzohw="height="300" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>

</div>
<div class="row">
    <div class="col-md-4">
        <h1>WHO WE ARE?</h1>
        <p>We are on a target to initiate or improve intellectual capacity of our clients through active tutoring, mobilisation and counselling that make one to confidently accommodate 21st century needs.</p>
    </div>
    <div class="col-md-4">
        <h1>OUR MISSION</h1>
        <p>To help our clients have a confidence in his/her educational capacity and cope with the needed personal skill and/or academic excellence. Thus, Education is accessible to everyone..</p>
        <p ><a  class="nav-link text-dark, ln" asp-area="" asp-page="Students/Create">StudentsRegister here</a></p>
    </div class="center">
    <div class="col-md-4">
        
        <h1>OUR VISION</h1>
        <p>To create a skillful and high performing educational ideas that cut across institutional levels.

</p>
        
    </div>
    </div>
   
<div class="row">

    <div class="col-md-4">
    <h1>KNOW US</h1>
    <p>SESE is an educational organisation that focused on giving orientation and skillful tutoring on English language, Literature in English, Mathematics, ICT and many other courses at different levels of education, either personal or in group, physically or online.</p>

</div>
<div class="col-md-4">
    <h1>STILL ON US</h1>
    <p>SESE is based in Tarauni Local Government and has two branches in Minjibir Local Government of Kano State. We also operate online at www.sambaunaedu.com.ng.</p>
</div>
<div class="col-md-4">
    <h1>OUR Services</h1>
    <p>We equip students with capacity of facing educational challenges within a short period of time on the following courses:</p>
    <ul>
     <li>GENERAL ENGLISH </li>
     <li>BASIC ENGLISH </li>
 <li>SPOKEN ENGLISH</li>
  <li>GRAMMATICAL ENGLISH</li>
   <li>CONVERSATIONAL ENGLISH</li>
   <li> GENERAL MATHEMATICS</li>
    <li>FURTHER MATHEMATICS</li>
    
 



    </ul>
</div>

</div>
